@import url('base.css');

/* Header */
header {

  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
}

/* Navegación de pestañas */
nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  background-color: rgba(197, 243, 191, 0);
  padding:  20px;
}

nav button,
#logout-btn {
  /* solo color y hover específicos
  background-color: #495057;*/
  font-size: 20px;
  border-radius: 5px;
  padding: 30px 50px;
}

nav button:hover,
#logout-btn:hover {
  background-color: #0480a3;
}

/* Main y secciones */
main {
  padding: 40px;
  min-height: 100vh;
}

.panel-section {
  /* tarjeta: hereda estilo de base.css */
  margin-bottom: 20px;
}

.panel-section h2 {
  color: #0480a3;
}

.cards{
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.card{
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgb(4, 128, 163);
  padding: 20px;
  text-align: center;
  width: 20%;
  margin: 20px 0 0;
  font-size: 14px;
}
.chart-section{
 h2{
    color: #0a0a0b;
   margin-left: 450px;
  }

}
#btn-nuevo-articulo,
#btn-nueva-venta {
  background-color: #0480a3;
}

#btn-nuevo-articulo:hover,
#btn-nueva-venta:hover {
  background-color: #0480a3;
}
